{% extends "base.html" %}

{% block content %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-4 topBarNav">

        </div>
        <div class="col-7 topBarNav">

        </div>
    </div>
</div>

<style>
    .topBarNav{
        border-radius: 12px;
        
        padding-bottom: 10vh;
        padding-top: 23vh;
        background: radial-gradient(circle, rgb(255, 255, 255) 5%, rgb(226, 216, 255) 28%, rgb(225, 250, 242) 50%, rgb(241, 239, 242) 73%, rgb(195, 245, 229) 95%);
        opacity: 0.4;
    }
    body{
        
    }
</style>
{% endblock %}