{% extends "base.html" %}

{% block content %}   
<div class="container">
        <div class="row">
            <div class="col-4 loginFORMS">
                 <h1>
                    РЕГИСТРАЦИЯ
                </h1>
                <hr>
                <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg> Зарегестрирываться</button>
</form>
            </div>
        </div>
        <p class="regOrLog"><a href="/loginPage">login</a>/registration</p>
    </div>   




<style>
    .loginFORMS{
        border: solid 1px red;
        border-radius: 5px;
        padding-bottom: 2vh;
        margin-top: 33vh;
        margin-left: 47vh;
        padding-top: 1vh;
        box-shadow: 4px 4px 0px 0px rgb(255, 238, 0);
    }
     .regOrLog{
        margin-left: 47vh;
    }
</style>



{% endblock %}