{% include "mainHead.html" %}

{% block content %}

<div class="container HeadofRoad glass-card">
    <div class="row">
        <div class="col-9">
            <h1 class="Title">
                {{ roadmap.Title }}
                <a class='fs-6' href="{% url 'Delitroadmap' index=roadmap.id %}" 
        
                    style="color: #000;">
                    <i class="bi bi-trash3 editbi" ></i>
                </a>
            </h1>
        </div>
        <div class="col-3 Title">
            {%if roadmap.goald_date == false%}
                
                    
                    <form method="post" class="row" action="{% url 'addRoadmapeDeadline' index=roadmap.id %}" >
                            <div class="col-6">
                                {% csrf_token %}
                    
                                {{ dateForm.goald_date }}
                            </div>
         
                            <div class="col-1">
                                <button type="submit" class="btn-primary"><i class="bi bi-check2"></i></button>
                            </div>
                    </form>   
                    
                
            {%elif roadmap.goal_date == true%}
                <h3>{{roadmap.goald_date}} <i class="bi bi-pencil editbi fs-6"></i></h3>
            {% endif %}
        </div>
        <div class="container">
            <div class="row Description">
                <div class="col-12">
                    {%if roadmap.Description == false %}
                        <form method="post" class="row" >
                            <div class="col-10">
                                {% csrf_token %}
                    
                                {{ form.Description }}
                            </div>
         
                            <div class="col-1">
                                <button type="submit" class="btn-primary">Сохранить</button>
                            </div>
                        </form>
               
                    {% elif roadmap.Description != false %}
                        <div class="col-6">
                            <p>{{roadmap.Description}} <i class="bi bi-pencil editbi"></i></p> 
                    
                        </div>
                        <div class="col-1">
                    
                        </div>
                

                
{% endif %}


</div>
                    
            </div>
 
    </div>
    </div>
    </div>
    
    

</div>
<div class="container Stage">
    <div class="row">
        <div class="col-12">
            <h1>Этапы</h1>
        </div>
    </div>
</div>

<div class="container glass-card NewStage">
    <div class="row">
        <div class="col-3">
            <h6>Название нового этапа {{index}}</h6>
        </div>
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <form method="post" action="{% url 'addStage' index=roadmap.id %}">
                            {% csrf_token %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-7">
                                        {{ form2.Stagetitle }}
                                    </div>
                                    <div class="col-5">
                                        {{ form2.goald_date }}
                                    </div>
                                </div>
                            </div>
                        
                        
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn-pink">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for stage in stages %}
    <div class="container StageMain glass-card roadmap-card">
        <div class="row">

            <div class="col-10">
                <h6 class="fs-5">{{ stage.Stagetitle }} <i class="bi bi-pencil editbi fs-6"></i> 
                <a class='fs-6' href="{% url 'deleteStage' index=roadmap.id Stage_id=stage.id %}" 
        
                    style="color: #000;">
                    <i class="bi bi-trash3 editbi" ></i>
                </a>
                
                </h6>



            </div>
            <div class="col-2">
                <h6 class="badge rounded-pill text-bg-warning"> {{ stage.goald_date }}</h6>
            </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                        {% for task in stage.tasks_set.all %}
                            <h4 class="fs-5 fw-light tasktitle">{{ task.Tasktitle }}</h4>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5 ">
                                           
                                            {% for step in task.steps_set.all %}
                                             <div class="row stepstitle fs-6 fw-fw-italic">
                                                - {{step.Steptitle}}</div>
                                            {%endfor%}
                                            <form method="post" class="row miniForm" action="{% url 'addSteps' Tasks_id=task.id index=roadmap.id %}">
                                            {% csrf_token %}
                            
                                                <div class="col-8">
                                                    {{StepForm.Steptitle}}
                                                </div>
                        
                                                <div class="col-4">
                                                    <button type="submit" class="btn-outline"><i class="bi bi-plus"></i></button>
                                                </div>
                        
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                </div>
            </div>
    </div>
    </div>
    <div class="row">
        <hr class="StageCardHR">
        <div class="col-7">

        </div>
        <div class="col-5 NewTasks">
            
            <div class="container">
                <form method="post" class="row" action="{% url 'addTasks' index=roadmap.id stage_id=stage.id %}">
                            {% csrf_token %}
                            
                        <div class="col-8">
                            {{taskTitleForm.Tasktitle}}
                        </div>
                        
                        <div class="col-4">
                            <button type="submit" class="btn-outline">Добавить<i class="bi bi-arrow-bar-up"></i></button>
                        </div>
                        
                        </form>
            </div>
            
        </div>
        
    </div>
        
    </div>

{% endfor %}
<style>
    .stepstitle{
        margin-left: 2vh;
    }
    .HeadofRoad{
        margin-top: 4vh;
    }

.Description{
    margin-bottom: 3vh;
    margin-top: 3vh; 
}
.Title{
    margin-top: 1vh;
}
.progress-fill{
    max-height: 1vh;
    margin-top: 0.49%;
}
.Stage{
    margin-top: 3vh;
}
.NewStage{
   padding-top: 2vh;
   padding-bottom: 2vh; 
   margin-bottom: 3vh;
}
.StageMain{
    margin-bottom: 1.6vh;
    min-height: 10vh;
}
.StageMain h6{
    margin-top: 0.6vh;
}
.editbi{
    opacity: 0.4;
    margin-left: 0.5vh;
    max-width: 1vh;
    max-width: 1px;
}
.editbi:hover{
    opacity: 1;
    transition: 0.3s;
}

.NewTasks{
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.StageCardHR{
    margin-bottom: 0;
    margin-top: 0.3vh;
}
.miniForm input, .miniForm button{
    max-height: 2vh;
}
.tasktitle{
    margin: 1vh;
}
</style>



{% endblock %}